@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Chefs N Dishes</h1>
    <p><b>Chef </b>|<a> Dishes </a>|<a> Add a Chef </a>|<a> Add a Dish </a></p>
    <hr>
    <h2 class="display-5">Yum! Check out our tasty dishes</h2>
    <table class="mt-4 table">
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>
        <tr>
            <th>Name</th>
            <th>Chef</th>
            <th>Tastiness</th>
            <th>Calories</th>
        </tr>

    </table>
</div>
