@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Chefs N Dishes</h1>
    <p><b>Chef </b>|<a href="/dishes"> Dishes </a>|<a href="/chef/create"> Add a Chef </a>|<a href="/dish/create"> Add a Dish </a></p>
    <hr>
    <h2 class="display-5">Check out our roster of Chefs</h2>
    <hr>
    <table class="mt-4 table">
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Number of Dishes</th>
        </tr>

        @foreach (Chef c in ViewBag.AllChefs)
        {
            <tr>
                <td>@c.FirstName @c.LastName</td>
                <td>@(c.dob.HasValue ? (DateTime.Today.Year - c.dob.Value.Year).ToString() : "")</td>
                <td>0</td>
            </tr>
        }


    </table>
</div>
