<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hello!</title>
</head>

<body>
    <h1>Hello from our first cshtml file!!</h1>
    @{    
    List<string> StringList = new List<string> {"one", "two", "three", "four"};            
    foreach(string word in StringList)    
    {        
        // We can render HTML from within C# code!
    	// We just have to remember to bring @ back if we want to render variables
        <p>@word</p>    
    }
}
</body>

</html>