<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a new Dish</title>
</head>

<body>
    @model Dish
    <h1>Add a new Dish!</h1>
    <form asp-action="CreateDish" method="post" asp-controller="Home">
        <div>
            <span asp-validation-for="Chef" class="text-danger"></span>
            <label asp-for="Chef">Chef's Name</label>
            <input type="text" name="Chef">
        </div>
        <br>
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <label asp-for="Name">Name of Dish</label>
            <input asp-for="Name" name="Name">
        </div>
        <br>
        <div>
            <span asp-validation-for="Calories" class="text-danger"></span>
            <label asp-for="Calories"># of Calories</label>
            <input asp-for="Calories" name="Calories">
        </div>
        <br>
        <div>
            <span asp-validation-for="Tastiness" class="text-danger"></span>
            <label asp-for="Tastiness">Tastiness</label>
            <input asp-for="Calories" name="Tastiness">
        </div>
        <br>
        <div>
            <span asp-validation-for="Description" class="text-danger"></span>
            <label asp-for="Description">Description</label>
            <textarea name="Description"></textarea>
        </div>
        <br>
        <input type="submit" value="Add Dish">
    </form>
</body>

</html>