<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Dish Details - CRUDelicious</title>
</head>
<body>
    @model Dish
    <h1>Edit @Model.Name Details</h1>
    <form asp-action="UpdateDish" method="post" asp-controller="Home" asp-route-dishId="@Model.DishId">
        <div>
            <span asp-validation-for="Chef" class="text-danger"></span>
            <label asp-for="Chef">Chef's Name</label>
            <input type="text" asp-for="Chef">
        </div>
        <br>
        <div>
            <span asp-validation-for="Name" class="text-danger"></span>
            <label asp-for="Name">Name of Dish</label>
            <input asp-for="Name" asp-for="Name">
        </div>
        <br>
        <div>
            <span asp-validation-for="Calories" class="text-danger"></span>
            <label asp-for="Calories"># of Calories</label>
            <input asp-for="Calories" asp-for="Calories">
        </div>
        <br>
        <div>
            <span asp-validation-for="Tastiness" class="text-danger"></span>
            <label asp-for="Tastiness">Tastiness</label>
            <input asp-for="Tastiness" asp-for="Tastiness">
        </div>
        <br>
        <div>
            <span asp-validation-for="Description" class="text-danger"></span>
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description"></textarea>
        </div>
        <br>
        <input type="submit" value="Edit Dish">
    </form>
</body>
</html>