@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CRUDelicious</h1>
    <p><a>Home</a> | <a href="create">Add a Dish</a></p>
    <br>
    <h2 class="display-6">Check out some recent dishes: </h2>
    <hr>
    @foreach (Dish d in ViewBag.AllDishes)
    {
        <p><a href="dishes/@d.DishId">@d.Name</a> by @d.Chef</p>
        <form asp-action="DeleteDish" asp-controller="Home" asp-route-dishId="@d.DishId" method="post">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
    }
</div>