@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dojo Survey Assignment using Models</h1>
    @model Survey
    <form action="process" method="post">
        <div>
            <label asp-for="Name">Your Name: </label>
            <input asp-for="Name" type="text">
            <span asp-validation-for="Name"></span>
        </div>
        <br>
        <div>
            <span asp-validation-for="Location"></span>
            <label asp-for="Location">Dojo Location: </label>
            <select asp-for="Location">
                <option value="San-Jose">San Jose</option>
                <option value="Burbank">Burbank</option>
                <option value="Kuwait">Kuwait</option>
                <option value="Boston">Boston</option>
            </select>
        </div>
        <br>
        <div>
            <span asp-validation-for="Language"></span>
            <label asp-for="Language">Favorite Language: </label>
            <select asp-for="Language">
                <option value="c#">C#</option>
                <option value="java">Java</option>
                <option value="python">Python</option>
                <option value="javascript">JavaScript</option>
            </select>
        </div>
        <br>
        <div>
            <span asp-validation-for="Comment"></span>
            <label asp-for="Comment">Comment (Optional): </label>
        </div>
        <br>
        <div>
            <textarea asp-for="Comment" cols="30" rows="10"></textarea>
        </div>
        <br>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
</div>
