@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Products and Categories</h1>
    <hr>
    <p><b>Products</b> | <a href="/categories">Categories</a></p>
    <hr>
    <section class="d-flex justify-content-around">
        <div>
            <h1 class="display-5 mt-2">Add new Product</h1>
            @model Product
            <form asp-action="CreateProduct" method="post" asp-controller="Home" class="mt-5">
                <div class="mb-3">
                    <span asp-validation-for="Name" class="text-danger"></span>
                    <label asp-for="Name">Enter Product Name: </label>
                    <input asp-for="Name" class="form-control">
                </div>
                <div class="mb-3">
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <label asp-for="Description">Enter Product Description: </label>
                    <input asp-for="Description" class="form-control">
                </div>
                <div class="mb-1">
                    <span asp-validation-for="Price" class="text-danger"></span>
                    <label asp-for="Price">Enter Product Price: </label>
                    <input asp-for="Price" class="form-control">
                </div>
                <div class="mb-3">
                    <input type="submit" value="Add Product" class="btn btn-primary mt-5">
                </div>
            </form>
        </div>
        <div>
            <h3 class="display-5 mt-2">List of all Products: </h3>
            @foreach (Product p in ViewBag.AllProducts)
            {
                <p><a href="/products/@p.ProductId">@p.Name</a></p>
            }
        </div>
    </section>
</div>
